
body {
    margin: 0;
    background-color: rgba(226, 231, 240, 0.639);
}

* {
    font-family: 'Manrope', sans-serif;
    color: rgba(78, 76, 76, 0.794);
    box-sizing: border-box;
}

button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #29aeae;
    box-shadow: 2px 10px 10px rgba(255, 255, 255, 0.482);
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

button:hover {
    background-color: #45c4d2;
    font-weight: bold;
}

a {
    text-decoration: none;  
    cursor: pointer;
    }

h1 {
    color: #29AEAE;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

header {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    position: absolute;
    left: 0;
    right: 0; 
    z-index: 1;
    }

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 220px;
    margin-right: 20px;
    margin-left: 65px;
    }

.logo {
    color: rgb(16,143,148);
    font-size: 50px;
    font-family: 'Allura', cursive;
    padding: 10px;
    }
    
.studio {
    position: relative;
    top: -15px;
    left: 85px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: rgba(78, 76, 76, 0.794);
    text-transform: uppercase;
    }

.header__logo p {
    margin: 0;
    padding: 0;
    }

.header__controls {
    display: flex;
    gap: 15px;
}

.header__controls a {
    font-size: 16px;
    color: rgb(90, 70, 62);
    min-width: 60px;
    }

.header__controls a:hover {
    font-weight: bolder;
    text-shadow: 2px 0px 10px rgb(255, 255, 255);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: url('str6.png') no-repeat;
    background-position: center;
    background-size: cover; 
    position: relative;
    min-height: 700px;
    min-width: 1000px;
    box-shadow: 1px 4px 10px rgba(218, 222, 230, 0.454);
}

.main__button {
    margin-left: 75px;
    margin-bottom: 240px;
    width: 270px;
}

.main__text {
    min-width: 390px;
    padding: 10px 30px 10px 0px;
    margin-top: 80px; /*отодвигаем на высоту header*/
    margin-left: 30px;
}

.main__stretch {
    text-align: center;
    font-size: 45px;
    line-height: 48px;
    font-weight: 600;
    text-shadow: 1px 1px 8px white;
    margin-bottom: 0;
    animation: stretch 6s ease-in-out infinite;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.main__static {
    text-align: center;
    font-size: 23px;
    font-weight: 300;
    margin-top: 0;
}

.slogan {
    text-align: center;
    font-size: 18px;
    margin-top: 45px;
}
.spread {
    margin-right: 10px;
    font-weight: 600;
}

.who {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.who__left {
    padding: 20px;
}

#who__video1  {
    width: 300px;
}

.who__left h1 {
    padding-left: 20px;
}

.who__left h3 {
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: 600;
    color: rgb(90, 70, 62)
}

ul {
    list-style: none;
    padding-inline-start: 10px;
}

ul > li{
    padding-left: 40px;
    position: relative;
    margin: 5px;
}

ul > li:before {
    content: '✔';
    position: absolute; 
    font-size: 20px;
    top: 0; 
    left: 0;
    color: #29AEAE;
}

.classes {
    padding: 0 20px 40px 20px;
}
.classes__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
}

.flip-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 300px;
    perspective: 1000px;  
}

.flip-card h3 {
    margin-top: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card-front img {
    width: 300px;
    height: 100%;
    object-fit: contain;
}

#classVideo {
    height: 100%;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden; /* прячем заднюю часть */
}

.flip-card-back {
    transform: rotateY(180deg); /* прячем задней НЕВИДИМОЙ частью вперед, стороны стали спиной друг к другу */
}

/* Переворот Inner при наведении на родителя */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.form__section {
    display: flex;
    align-items: center;
}

.form__section img {
    width: 40%;
    max-height: 550px;
    object-fit: cover;
    border-radius: 0 200px 0 0 ;
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

form button {
    max-width: 280px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label input {
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
}

.label input:focus {
    outline: none;
}

.form__container p {
    padding-left: 20px;
}

.form__container h4 {
    color: black;
    text-align: center;
}

.reviews {
    padding: 30px;
}

.review__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.review__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.review__card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.trainers {
    padding:  0 0 20px 0;
}

.trainers__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trainer {
    max-width: 30%;
    max-height: 450px;
    object-fit: cover;
}

.trainer1 {
    border-radius: 0 180px  0 0;
}

.trainer2 {
    border-radius: 180px 0 0 0;
}

.trainers p {
    
    padding: 20px;
    max-width: 650px;
}

.trainers h1 {
    position: relative;
    top: 90px;
}

.contacts__map h3 {
    text-align: center;
}

.contacts__container {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    padding: 0 20px 20px 20px;
}

iframe {
    width: 500px;
}

.social {
    display: flex;
    justify-content: space-around;
}

.fa-brands {
    font-size: 50px;
    color: #29aeae;
}

.fa-brands:hover {
    color: #45c4d2;
}

footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

footer p {
    margin: 0;
    padding: 0;
}
footer .logo {
    padding: 0;
}

.rights {
    font-size: 15px;
    margin-bottom: 5px;
}

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__right>*:hover {
    font-weight: bolder;
    text-shadow: 2px 0px 10px rgb(255, 255, 255);
}

@keyframes stretch {
    0% {transform: scale(1, 1);}
    35% {transform: scale(1.4, 1);}
    70% {transform: scale(1, 1);}
}

@media all and (max-width: 1024px) {
    button {
        font-size: 14px;
    }
    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
        font-weight: 400;
    }

    .header__logo {
        margin-left: 25px;
        }

    .logo {
        font-size: 42px;
    }
    .studio {
        font-size: 12px;
        top: -13px;
        left: 75px;
    }

    .header__controls {
        padding-top: 10px;
    }
    .header__controls a {
        font-size: 15px;
    }

    .main {
        max-width: 1024px;
        min-width: 720px;
    }

    .main__text {
        margin-left: 15px;
    }

    .main__stretch {
        margin-top: 10px;
    }

    .main__static {
        text-align: start;
        font-size: 22px;
    }

    .slogan {
        font-size: 15px;
        text-align: start;
    }

    .main__button {
        text-align: center;
        margin-left: 0;
        margin-bottom: 280px;
        width: 230px;
}
    .who__left p {
        margin-top: 3px;
        margin-bottom: 8px;
        font-size: 14px;
    }

    ul > li:before {
        font-size: 18px;
    }
    
    .flip-card {
        justify-self: center;
        height: 300px;
        width: 200px;
    }
    
    .flip-card h3 {
        font-size: 16px;
    }
    
    .flip-card-front img {
        width: 200px;
    }

    label {
        font-size: 15px;
    }

    .form__container p {
        padding-left: 20px;
        font-size: 15px;
    }
    form button {
        max-width: 250px;
    }

    .review__card img {
        width: 140px;
        height: 140px;
    }    

    .review__card h4 {
        margin-bottom: 0;
    }
    .review__card p {
        font-size: 14px;
    }

    .trainer {
        max-height: 350px;
    }

    .contacts__map h3 {
        font-size: 16px;
    }

    iframe {
        width: 350px;
        height: 350px;
    }

    .rights {
        font-size: 14px;
    }

    .footer__right a, .footer__right p {
        font-size: 15px;
    }
}

@media all and (max-width: 720px) {
    button {
        font-size: 11px;
        padding: 8px 11px;
    }
    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }
    header {
        padding: 10px;
        height: 70px;
    }
    .header__logo {
        margin-left: 8px;
        margin-right: 10px;
        min-width: 160px;
        }

    .logo {
        font-size: 30px;
    }
    .studio {
        font-size: 8px;
        top: -7px;
        left: 60px;
    }

    .header__controls {
        padding-top: 12px;
        gap: 8px;
    }

    .header__controls a {
        font-size: 12px;
        min-width: 46px;
    }

    .main {
        max-width: 720px;
        min-width: 520px;
        min-height: 200px;
    }

    .main__text {
        margin-left: 15px;
        margin-top: 55px;
    }

    .main__stretch {
        margin-top: 10px;
        font-size: 33px;
        position: relative;
        left: -50px;
    }

    .main__static {
        text-align: start;
        font-size: 14px;
    }
    .spread {
        font-size: 11px;
    }

    .slogan {
        font-size: 10px;
        text-align: start;
        margin-top: 27px;
    }

    .main__button {
        text-align: start;
        margin-left: 10px;
        margin-bottom: 160px;
        width: 230px;
    }

    .who__left {
        padding: 10px;
    } 

    .who__left h1 {
        margin: 5рх 0;
    }

    .who__left p {
        font-size: 12px;
    }

    #who__video1  {
        width: 220px;
        object-fit: cover;
    }

    ul {
        margin: 5px 0;
    }

    ul > li {
        padding-left: 25px;
    }

    ul > li:before {
        font-size: 15px;
    }

    .classes__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 20px;
    }
    
    .flip-card {
        justify-self: center;
        height: 375px;
        width: 250px;
    }
    
    .flip-card h3 {
        font-size: 14px;
    }
    
    .flip-card-front img {
        width: 250px;
    }

    label {
        font-size: 13px;
    }

    form {
        gap: 15px;
        padding: 10px;
    }

    .form__container h4 {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .form__container p {
        padding-left: 10px;
        font-size: 12px;
    }

    form button {
        width: 190px;
    }

    .reviews {
        padding: 0 15px;
    }

    .review__card img {
        width: 100px;
        height: 100px;
    }    

    .review__card h4 {
        font-size: 14px;
    }

    .review__card p {
        font-size: 11px;
    }

    .trainers h1 {
        position: relative;
        top: 50px;
    }

    .trainers p {
        font-size: 12px;
    }

    .contacts__map h3 {
        font-size: 14px;
    }

    iframe {
        width: 220px;
        height: 220px;
    }

    .contacts__right p, .contacts__right h4 {
        font-size: 14px;
    }

    .fa-brands {
        font-size: 40px;
    }

    .rights {
        font-size: 12px;
    }

    .footer__right a, .footer__right p {
        font-size: 13px;
    }
}

@media all and (max-width: 520px) {
    button {
        font-size: 9px;
        padding: 8px 10px;
    }

    h1 {
        font-size: 14px;
    }

    h3 {
        font-size: 11px;
    }

    header {
        padding: 8px;
        height: 40px;
        align-items: baseline;
    }
    .header__logo {
        margin-left: 0px;
        margin-right: 9px;
        min-width: 95px;
        }

    .logo {
        font-size: 21px;
    }
    .studio {
        font-size: 5px;
        top: -7px;
        left: 40px;
    }

    .header__controls {
        padding-top: 12px;
        gap: 5px;
    }

    .header__controls a {
        font-size: 8px;
        min-width: 28px;
    }

    .main {
        max-width: 520px;
        min-width: 280px;
        min-height: 100px;
    }

    .main__text {
        margin-left: 10px;
        margin-top: 50px;
    }

    .main__stretch {
        margin-top: 0px;
        font-size: 19px;
        line-height: 25px;
        position: relative;
        left: -100px;
    }

    .main__static {
        font-size: 12px;
    }
    .spread {
        font-size: 10px;
        display: block;
    }

    .slogan {
        font-size: 9px;
        text-align: start;
        margin-top: 15px;
        max-width:95px; 
    }

    .main__button {
        text-align: start;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 10px;
        width: 150px;
    }

    .who__left {
        padding: 7px;
    } 

    .who__left h1 {
        margin: 3px 0;
    }

    .who__left h3 {
        margin-top: 5px;
    }

    .who__left p {
        font-size: 9px;
        margin-bottom: 2px;
    }

    #who__video1  {
        width: 150px;
        max-height: 265px;
    }

    ul {
        margin: 3px 0;
        padding: 0;
    }

    ul > li {
        padding-left: 20px;
        margin: 0 3px;
    }

    ul > li:before {
        font-size: 12px;
    }

    .classes {
        padding: 0 10px 20px 10px;
    }

    .classes__container {
        gap: 10px;
    }
    
    .flip-card {
        height: 225px;
        width: 150px;
    }
    
    .flip-card h3 {
        font-size: 11px;
    }
    
    .flip-card-front img {
        width: 150px;
    }

    label {
        font-size: 10px;
    }

    form {
        gap: 10px;
        padding: 6px;
    }

    .form__container h1 {
        position: relative;
        left: -65px;
        width: 250px;
    }

    .form__container h4 {
        font-size: 11px;
        margin-bottom: 6px;
        position: relative;
        left: -65px;
        width: 250px;
    }

    .label {
        gap: 3px;
    }

    .form__container {
        width: 60%;


    }
    .form__container p {
        padding-left: 6px;
        font-size: 9px;
    }

    form button {
        width: 140px;
    }

    .reviews {
        padding: 0 10px;
    }

    .review__card img {
        width: 70px;
        height: 70px;
    }    

    .review__card h4 {
        font-size: 11px;
    }

    .review__card p {
        font-size: 9px;
    }

    .trainers h1 {
        position: relative;
        top: 30px;
    }

    .trainers p {
        font-size: 10px;
    }

    .contacts__container {
        gap:15px;
        padding: 0 10px 10px 10px;
    }

    .contacts__map h3 {
        font-size: 11px;
    }

    iframe {
        width: 150px;
        height: 150px;
    }

    .contacts__right p, .contacts__right h4 {
        font-size: 11px;
    }

    .fa-brands {
        font-size: 30px;
    }

    .rights {
        font-size: 9px;
    }

    footer {
        padding: 15px 10px;
    }

    .footer__right a, .footer__right p {
        font-size: 10px;
    }
}
